.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__copyright {
  max-width: 166px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  color: white;
  margin: 92px auto 24px auto;
  font-family: "Inter-Regular";
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    max-width: 166px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    color: white;
    margin: 88px auto 24px auto;
    font-family: "Inter-Regular";
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    max-width: 166px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0%;
    color: white;
    margin: 64px auto 24px auto;
    font-family: "Inter-Regular";
    font-weight: 400;
  }
}
