@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .footer__copyright {
    width: 166px;
    height: 16px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    color: white;
    margin-top: 92px;
    font-family: "Inter-Regular";
  }
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    width: 166px;
    height: 16px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    color: white;
    margin-top: 64px;
    font-family: "Inter-Regular";
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    width: 166px;
    height: 14px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0%;
    color: white;
    margin-top: 88px;
    font-family: "Inter-Regular";
  }
}
