.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .header {
    max-width: 1280px;
    max-height: 1883px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 768px;
    max-height: 1659px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
    max-height: 1550px;
  }
}
