.lead {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  max-width: 984px;
}

.lead__title {
  margin-top: 90px;
  width: 100%;
  max-width: 720px;
  font-size: 96px;
  font-weight: 200;
  color: white;
  text-align: center;
  opacity: 1;
  font-family: "Inter-Black";
  line-height: 100px;
}

.lead__subtitle {
  margin-top: 32px;
  max-width: 720px;
  height: 72px;
  opacity: 1;
  font-family: "Inter-Regular";
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: white;
}

.lead__image {
  margin: 64px 148px 0 148px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .lead__title {
    /* width: 100%; */
    margin-top: 90px;
    max-width: 530px;
    font-size: 76px;
    line-height: 79px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    margin-top: 25px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    width: 100%;
    margin: 30px auto 0;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    /* width: 100%; */
    margin-top: 50px;
    max-width: 228px;
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    margin-top: 16px;
    /* width: 100%; */
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    width: 100%;
    margin: 40px auto 0;
  }
}
