.logo {
  width: 254px;
  height: 70px;
  align-self: center;
  margin-top: 34px;
}

@media screen and (max-width: 1280px) {
  .logo {
    width: 254px;
    height: 70px;
    margin-top: 34px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 254px;
    height: 66px;
    margin-top: 30px;
    align-self: center;
  }
}

@media screen and (max-width: 320px) {
  .logo {
    width: 188px;
    height: 52px;
    margin-top: 20px;
  }
}
